@model NetBlogger.Models.Post

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Delete post</h3>
                </div>
                <div class="panel-body">
                    <div>
                    @using (Html.BeginForm("Delete", "Post", FormMethod.Post, new { @role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        <h4><p class="text-danger">Do you really want to delete <strong><u>@Model.Title</u></strong> ?</p></h4>
                        <input type="submit" value="Delete" class="btn btn-primary" />
                        <span>|</span>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>