@model IEnumerable<NetBlogger.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @Html.ShowMessage()
            <p>
                @Html.ActionLink("New post", "Create", null, new { @class = "btn btn-primary" })
            </p>
            <div class="row">
                <div class="col-lg-12">
                    <div id="tableContainer">
                        @{ Html.RenderPartial("_AjaxIndex", Model); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}